@import url('/assets/font/font.css');
 
 @keyframes scrollBackground {
     0% {
         background-position: 0% 0%;
     }
     100% {
         background-position: 100% 100%;
     }
 }
 
 *{
     margin: 0;
        cursor: none;
 }
 ::selection {
     background-color: #c6ff9a;
     color: #000000;
 }
 
 body {
     font-family: 'forza';
     background: linear-gradient(to bottom, #76cb37, #000000), url('/assets/topo.svg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-blend-mode: overlay;
     margin: 0;
     animation: scrollBackground 30s linear infinite;
 }
 
 a{
     font-size: 20px;
     color: #000000;
     text-decoration: underline;
     transition: color 300ms ease;
 }
 button, img, a, .btn, .event a {
    cursor: none !important;
}
 footer{
     background: rgb(0, 0, 0);
     color: #76cb37;
     border-top: #00440e 1px solid;
     padding: 20px;
     text-align: center;
     position: fixed;
     bottom: 0;
     width: 100%;
 }

 #customCursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    border: white 1px solid;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
    z-index: 1000;
}

a:hover ~ #customCursor,
.btn:hover ~ #customCursor {
    transform: scale(2); /* Ensure the cursor scales instead of resizing */
}
 
 .annoucements{
     background: black;
     padding: 10px;
     font-size: large;
     color: rgb(255, 255, 255);
     transition: ease-in-out 400ms;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     border-bottom: #00440e 3px solid;
 }
 
 .announcement a{
     color: rgb(255, 255, 255);
     text-decoration: none;
     transition: color 300ms ease;
     text-decoration: underline;
     font-size: large;
 }
 
 .announcement a:hover{
     color: rgb(255, 255, 255);
     text-decoration: underline;
 }

 .title{
    margin-top: 5%;
    font-size: 30px;
    background-color: #76cb37;
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}