@import url('/assets/font/font.css');

@keyframes scrollBackground {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

* {
    margin: 0;
}

::selection {
    background-color: #c6ff9a;
    color: #000000;
}

body {
    font-family: 'forza';
    background: linear-gradient(to bottom, #76cb37, #000000), url('/assets/topo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    margin: 0;
    animation: scrollBackground 30s linear infinite;
}

a {
    font-size: 20px;
    color: #000000;
    text-decoration: underline;
    transition: color 300ms ease;
}

footer {
    background: rgb(0, 0, 0);
    color: #76cb37;
    border-top: #00440e 1px solid;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.annoucements {
    background: black;
    padding: 10px;
    font-size: large;
    color: rgb(255, 255, 255);
    transition: ease-in-out 400ms;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #00440e 3px solid;
}

.announcement a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 300ms ease;
    text-decoration: underline;
    font-size: large;
}

.announcement a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.title {
    margin-top: 5%;
    font-size: 30px;
    background-color: #76cb37;
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.winners {
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #76cb37;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
}

.winners h2 {
    font-size: 2em;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #76cb37;
    display: inline-block;
    padding-bottom: 5px;
}

.winners ol {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.winners li {
    font-size: 2em;
    margin: 5px 0;
    /* Reduced margin for closer spacing */
    padding: 5px;
    /* Reduced padding for closer spacing */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 300ms ease;
}

.winners a {
    font-size: 1.2em;
}

.winners li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.winners .points {
    font-weight: bold;
    color: #c6ff9a;
}

.list-image {
    display: block;
    margin: 0 auto 20px;
    width: 200px;
    /* Increased width */
    height: auto;
}

.list-item-icon {
    width: 30px;
    /* Increased width */
    height: auto;
}

#clan-tooltip {
    z-index: 1000;
    pointer-events: none;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
        width: 90%;
        padding: 5px;
    }

    .winners {
        width: 90%;
        padding: 10px;
    }

    .winners h2 {
        font-size: 1.5em;
    }

    .winners li {
        font-size: 1.5em;
        padding: 5px;
    }

    .winners a {
        font-size: 1em;
    }

    .list-image {
        width: 150px; /* Adjusted for smaller screens */
    }

    .list-item-icon {
        width: 20px; /* Adjusted for smaller screens */
    }
}